body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:1134px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:1134px;
}
#u1 {
  position:absolute;
  left:2px;
  top:559px;
  width:1258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:152px;
  top:838px;
  width:129px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:485px;
  top:620px;
  width:127px;
  height:19px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:761px;
  top:620px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:910px;
  top:620px;
  width:32px;
  height:19px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1065px;
  top:545px;
  width:94px;
  height:46px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:46px;
}
#u11 {
  position:absolute;
  left:2px;
  top:15px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1065px;
  top:560px;
  width:69px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#030335;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:1084px;
  top:620px;
  width:32px;
  height:19px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:134px;
  top:545px;
  width:167px;
  height:55px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:55px;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:153px;
  top:552px;
  width:129px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:374px;
  top:526px;
  width:807px;
  height:574px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:807px;
  height:574px;
}
#u21 {
  position:absolute;
  left:2px;
  top:279px;
  width:803px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:560px;
  top:570px;
  width:100px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:780px;
  top:570px;
  width:100px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:572px;
  top:620px;
  width:78px;
  height:37px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:37px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:572px;
  top:617px;
  width:78px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:908px;
  top:620px;
  width:72px;
  height:31px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:902px;
  top:617px;
  width:78px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:542px;
  top:691px;
  width:472px;
  height:79px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:79px;
}
#u35 {
  position:absolute;
  left:2px;
  top:32px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:560px;
  top:710px;
  width:190px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:576px;
  top:810px;
  width:84px;
  height:38px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
}
#u39 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:576px;
  top:808px;
  width:78px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:800px;
  top:710px;
  width:190px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:371px;
  top:855px;
  width:825px;
  height:145px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:145px;
}
#u45 {
  position:absolute;
  left:2px;
  top:64px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:-70px;
  top:993px;
  width:1380px;
  height:150px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:150px;
}
#u47 {
  position:absolute;
  left:2px;
  top:67px;
  width:1376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:374px;
  top:993px;
  width:840px;
  height:127px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:127px;
}
#u49 {
  position:absolute;
  left:2px;
  top:56px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:722px;
  top:895px;
  width:178px;
  height:45px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:45px;
}
#u51 {
  position:absolute;
  left:2px;
  top:14px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:744px;
  top:900px;
  width:78px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:129px;
  top:546px;
  width:193px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u55 {
  position:absolute;
  left:122px;
  top:615px;
  width:200px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u56 {
  position:absolute;
  left:122px;
  top:687px;
  width:193px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:129px;
  top:755px;
  width:193px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u58 {
  position:absolute;
  left:110px;
  top:826px;
  width:222px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:110px;
  top:888px;
  width:205px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
