body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1262px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:916px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:916px;
}
#u2 {
  position:absolute;
  left:2px;
  top:450px;
  width:1258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:916px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:916px;
}
#u4 {
  position:absolute;
  left:2px;
  top:450px;
  width:1258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:240px;
  top:280px;
  width:700px;
  height:350px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:350px;
}
#u6 {
  position:absolute;
  left:2px;
  top:167px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:910px;
  top:250px;
  width:30px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:398px;
  top:306px;
  width:42px;
  height:24px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:748px;
  top:306px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:580px;
  top:310px;
  width:10px;
  height:290px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:273px;
  width:20px;
  height:18px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:290px;
}
#u14 {
  position:absolute;
  left:316px;
  top:354px;
  width:206px;
  height:196px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:196px;
}
#u15 {
  position:absolute;
  left:2px;
  top:90px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:331px;
  top:560px;
  width:185px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:662px;
  top:354px;
  width:206px;
  height:196px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:196px;
}
#u19 {
  position:absolute;
  left:2px;
  top:90px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:677px;
  top:560px;
  width:185px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:38px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
