.page_content{width: 1200px;margin: 0 auto;}
.page_content_center{width: 1050px;margin: 0 auto;}
.page_box{padding-top: 90px;}
.pc_header{height: 90px;background: #26a8dc;position: fixed;width: 100%;top: 0px;left: 0px;z-index: 99}
.pc_header .pc_logo{display: block;height: 80px;margin-top: 5px;}
.pc_header .pc_logo>img{height: 100%;width: auto;}
.pc_header .pc_hd_menus>li{float: left;}
.pc_header .pc_hd_menus>li>a{line-height: 90px;text-align: center;display: block;padding: 0px 30px;color: #ffffff;font-size: 14px;}
.pc_header .pc_hd_menus>li.active>a{color: #5f92a7;background: #ffffff;}
.pc_header .pc_hd_menus>li:hover>a{color: #5f92a7;background: #ffffff;}