body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1257px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1257px;
  height:696px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1257px;
  height:696px;
}
#u1 {
  position:absolute;
  left:2px;
  top:340px;
  width:1253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:505px;
  top:126px;
  width:275px;
  height:84px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:84px;
}
#u3 {
  position:absolute;
  left:2px;
  top:34px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:540px;
  top:45px;
  width:183px;
  height:215px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:215px;
}
#u5 {
  position:absolute;
  left:2px;
  top:100px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:520px;
  top:540px;
  width:120px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
