body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1262px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:1096px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1262px;
  height:1096px;
}
#u1 {
  position:absolute;
  left:2px;
  top:540px;
  width:1258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:191px;
  top:760px;
  width:129px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:197px;
  top:508px;
  width:129px;
  height:40px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:147px;
  top:489px;
  width:193px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:147px;
  top:558px;
  width:193px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:140px;
  top:623px;
  width:193px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:147px;
  top:692px;
  width:193px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:157px;
  top:751px;
  width:193px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:140px;
  top:813px;
  width:193px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
